* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
}

p, h1 {
    margin-bottom: 20px;
}
button {
    border: none;
    margin-left: 5px;
    transition: 0.4s;
    background-color: #228B22;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #165916;
    color: #fff;
}

button.comecar-jornada-btn,
button.btn-avancar {
    position: absolute;
    bottom: 0.8vh;
    right: 10px;
}

input {
    border: 1px solid black;
}

html,body {
    overflow: hidden
}

body {
    font-size: 62.5%;
    height: 100vh;
}

h1.final-capitulo {
    color: #ffff;
    font-size: 4rem;
}

main {
    display: flex;
    justify-content: center;
}

img.personagem {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin-top: 15px;
    height: 100vh;
}

section.secao-dialogo {
    background: #fff;
    width: 100%;
    position: relative;
    padding: 15px 0 15px 10px;
}

main div {
    width: 100%;
    z-index: 1000;
    position: fixed;
    max-height: 170px;
    overflow-y: scroll;
    bottom: 0;
    border-top: 2px solid #0c3a96;
}

.aliado-nome {
    color: #1653cf;
    font-weight: 500;
}

h1 {
    font-weight: 300;
    font-size: 1.7rem;
}

p {
    font-size: 1.6rem;
}

.nome-vilao {
    color: #FF0000;
}

.none {
    display: none;
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

li {
    font-size: 1.4rem;
    cursor: pointer;
    margin: 15px 5px;
    width: 100%;
}

li:last-child {
    margin-bottom: 0;
}

li:hover {
    animation: zoom 5s forwards linear;
    color: #1c4875;
}

@keyframes zoom {
    0% {
        font-size: 1.5rem;
    }

    50% {
        font-size: 1.6rem;
    }

    100% {
        font-size: 1.7rem;
    }
}

.arma {
    color: #ffbb00;
}

body.carregar-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none !important;
    background-color: 	#000000 !important;
}